* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    background-color: var(--background-color);
    position: relative;
}

:root {
    /* Background color */
    --background-color: #fcffef;
    --background-white-color: #ffffff;
    /* Text color */
    --text-primary-color: #1b67ff;
    --text-yellow-color: #eec222;
    --text-blue-color: #4b85f9;
    --text-gray-color: #76767b;
    --secondary-blue-color: #1348b2;
    
    /* Color theme */
    --bluish-theme: #6A65EC;
    --orangish-theme: #E77A32;
    --greenish-theme: #2DB185;
    --redish-theme: #F43F5F;
    --yellowish-theme: #E2A53C;
    --purplish-theme: #A56ADD;
    
    /* font size */
    --font-xs: 12px;
    --font-sm: 16px;
    --font-md: 20px;
    --font-xmd: 24px;
    --font-lg: 28px;
    --font-xl: 32px;
    --font-2xl: 64px;
}

#body {
    height: 100vh;
    max-width: 1620px;
    margin: auto;
}

#body > .body-inner-div {
    height: 100vh;
    max-width: inherit;
    margin: auto;
    background-image: url("quest-icon/main-bg.png");
    background-size: cover;
}

.container {
    height: 83vh;
    display: flex;
    align-items: center;
    padding: 0px 50px;
}

.features {
    height: 10vh;
    width: 80vw;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    
}

.owl-image {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-img {
    width: 600px;
}

.play-container {
    height: 350px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading-word {
    font-size: var(--font-2xl);
    font-style: italic;
    font-weight: 600;
    display: inline-block;
}

.first-word {
    color: var(--text-primary-color);
}
.second-word {
    color: var(--text-yellow-color);
    text-shadow: 3px 3px 0 #000000;
}
.play-sub-heading {
    color: var(--text-blue-color);
    font-size: 17px;
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 15px;
}

.play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-primary-color);
    padding: 15px 50px;
    border-radius: 30px;
    box-shadow: 0 5px 0 var(--secondary-blue-color);
    transition: transform 0.3s ease;
}

.play-button:active {
    transform: scale(0.95);
}

.play-button button {
    border: none;
    font-size: var(--font-xmd);
    font-weight: 700;
    color: var(--background-white-color);
    background-color: inherit;
    padding-right: 10px;
}

.play-svg {
    width: 30px;
}

.feature-icon {
    background-color: var(--background-white-color);
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    box-shadow: 3px 3px 10px #0a0a0a;
    margin-bottom: 10px;
    transition: all 0.3 ease;
}

.feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--font-xs);
    font-weight: 600;
}

.feature-icon:active {
    transform: scale(0.95);
}

/* ----------------------------------------------------select page----------------------------------------------------------- */

#main {
    height: 100vh;
    max-width: 1620px;
    margin: auto;
    display: none;
}

#main > .main-inner-div {
    height: 100vh;
    max-width: inherit;
    margin: auto;
    background-image: url("quest-icon/light-bg.png");
}

.nav {
    height: 10vh;
    background-color: #fff;
    padding: 10px 30px 20px 20px;
    box-shadow: 0 5px 5px #a6a6a6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav > .nav-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav > .nav-logo > .nav-svg > img{
    width: 50px;
}

.nav > .nav-logo > .nav-text {
    color: black;
    font-size: var(--font-xmd);
    font-weight: 700;
}

.nav > .nav-content {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 9px;
}

.nav > .nav-content > .nav-content-all {
    display: flex;
    gap: 6px;
    align-items: center;
    height: 30px;
    position: relative;
}

.nav > .nav-content > .nav-content-all::after {
    content: "";
    background-color: var(--text-primary-color);
    width: 0%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 2%;
    transition: all 0.3s ease;
}

.nav > .nav-content > .nav-content-all:hover::after {
    width: 100%;
}

.nav > .nav-content > .nav-content-all > .text {
    color: var(--text-gray-color);
    font-size: var(--font-sm);
    font-weight: 600;
}

.content {
    height: 90vh;
}

.select-quiz-heading {
    height: 30%;
}

.select-quiz-main-heading {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}

.select-quiz-main-heading > p {
    font-size: 55px;
    display: inline-block;
    font-weight: bold;
}

.select-quiz-main-heading > p:nth-child(2) {
    color: var(--text-primary-color);
    font-style: italic;
}

.select-quiz-sub-heading {
    display: flex;
    justify-content: center;
    color: var(--text-gray-color);
    font-size: var(--font-sm);
    font-weight: 600;
    padding-top: 7px;
}

.select-content-container {
    height: 70%;
    margin: auto;
    /* background-color: #eec222; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(210px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    padding: 0 20px;

}

.select-content {
    width: 400px;
    height: 200px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    transition: transform 0.3s ease;
}

.select-content:active {
    transform: scale(0.95);
}

.content > .select-content-container > .space {
    background-color: #e2e9fd;
    border: 3px solid var(--bluish-theme);
    box-shadow: 0 5px 0 var(--bluish-theme),
                0 12px 10px #cccccc;
}

.content > .select-content-container > .animal {
    background-color: #FFF6ED;
    border: 3px solid var(--orangish-theme);
    box-shadow: 0 5px 0 var(--orangish-theme),
                0 12px 10px #cccccc;
}

.content > .select-content-container > .science {
    background-color: #ECFDF5;
    border: 3px solid var(--greenish-theme);
    box-shadow: 0 5px 0 var(--greenish-theme),
                0 12px 10px #cccccc;
}

.content > .select-content-container > .food {
    background-color: #FFEBED;
    border: 3px solid var(--redish-theme);
    box-shadow: 0 5px 0 var(--redish-theme),
                0 12px 10px #cccccc;
}

.content > .select-content-container > .travel {
    background-color: #FEFBEA;
    border: 3px solid var(--yellowish-theme);
    box-shadow: 0 5px 0 var(--yellowish-theme),
                0 12px 10px #cccccc;
}

.content > .select-content-container > .music {
    background-color: #FBF5FF;
    border: 3px solid var(--purplish-theme);
    box-shadow: 0 5px 0 var(--purplish-theme),
                0 12px 10px #cccccc;
}

.content > .select-content-container > .select-content > .content-logo {
    background-color: #FFFFFF;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content > .select-content-container > .select-content > .content-logo > img {
    width: 50px;
}

.content > .select-content-container > .select-content > .content-text {
    font-size: var(--font-lg);
    font-weight: bolder;
}

.content > .select-content-container > .select-content > .space-text {
    color: #373975;
}

.content > .select-content-container > .select-content > .animal-text {
    color: #8e503c
}

.content > .select-content-container > .select-content > .science-text {
    color: #356354
}

.content > .select-content-container > .select-content > .food-text {
    color: #8E1843
}

.content > .select-content-container > .select-content > .travel-text {
    color: #643825
}

.content > .select-content-container > .select-content > .music-text {
    color: #4e2c6a
}

.content > .select-content-container > .select-content > .content-quest {
    padding: 3px 15px;
    font-size: var(--font-xs);
    font-weight: 700;
    color: #ffffff;
    border-radius: 20px;
    margin-top: 5px;
}

.content > .select-content-container > .select-content > .space-quest {
    background-color: var(--bluish-theme);
}
.content > .select-content-container > .select-content > .animal-quest {
    background-color: var(--orangish-theme);
}
.content > .select-content-container > .select-content > .science-quest {
    background-color: var(--greenish-theme);
}
.content > .select-content-container > .select-content > .food-quest {
    background-color: var(--redish-theme);
}
.content > .select-content-container > .select-content > .travel-quest {
    background-color: var(--yellowish-theme);
}
.content > .select-content-container > .select-content > .music-quest {
    background-color: var(--purplish-theme);
}

/* ----------------------------------------------------quiz question--------------------------------------------------------- */

#quiz {
    height: 100vh;
    max-width: 1620px;
    margin: auto;
    display: none;
}

#quiz > .quiz-inner-div {
    height: 100vh;
    max-width: inherit;
    margin: auto;
    background-image: url("quest-icon/result-bg.png");
}

#quiz > .quiz-inner-div > .head {
    /* background-color: var(--greenish-theme); */
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#quiz > .quiz-inner-div > .head > .cancel {
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 5px 10px #cccccc;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quiz > .quiz-inner-div > .head > .progress-bar {
    width: 500px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 5px 10px #cccccc;
}

#quiz > .quiz-inner-div > .head > .progress-bar > .progress-bar-head-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}

.progress-bar > .progress-bar-head-box > .progress-bar-heading-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.progress-bar > .progress-bar-head-box > .progress-bar-heading-box > .progress-bar-heading {
    font-size: var(--font-md);
    font-weight: bolder;
}

.progress-bar > .progress-bar-head-box > .level {
    font-size: var(--font-sm);
    font-weight: 700;
    color: var(--text-primary-color);
}

.progress-bar > .progress-bar-head-box > .progress-bar-heading-box > img {
    width: 25px;
}

.progress-bar > .progress-bar-loader-box {
    width: 90%;
    height: 20px;
    background-color: #F1F4F9;
    margin: 5px auto;
    border-radius: 10px;
}

.progress-bar > .progress-bar-loader-box > .progress-bar-loader {
    width: 50%;
    height: 100%;
    background-color: #286AED;
    border-radius: 10px;
}

.mode {
    position: relative;
    width: 10%;
    padding: 5px 50px;
    margin: auto;
    border-radius: 999px;
    font-size: var(--font-sm);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(135deg, #38fe10, #9af201, #efff0e);
}

.mode::before {
    content: "";
    position: absolute;
    inset: 2px;
    border-radius: inherit;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.05));
    pointer-events: none;
}

#quiz > .quiz-inner-div > .head > .points-box {
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 5px 10px #cccccc;
}

.head > .points-box > img {
    width: 25px;
}

.head > .points-box > .points-number {
    font-size: var(--font-xmd);
    font-weight: 700;
}


#quiz > .quiz-inner-div > .body {
    /* background-color: var(--yellowish-theme); */
    height: 60vh;
    display: flex;
}

.body > .question-box {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body > .question-box > .question {
    background-color: #ffffff;
    height: 250px;
    width: 80%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    box-shadow: 0 5px 15px #cccccc;
}

.body > .question-box > .question > h1 {
    font-size: 40px;
}

.body > .question-box > .question > h1 > #key-word {
    color: rgb(224, 1, 1);
}

.body > .answer-box {
    width: 50%;
    /* background-color: beige; */
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.body > .answer-box > .answers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 125px;
    border-radius: 35px;
    background-color: var(--bluish-theme);
    color: #ffffff;
    font-size: 12px;
    transition: transform 0.3s ease;
}

.body > .answer-box > .answers:active {
    transform: scale(0.95);
}

.body > .answer-box > .answer-1 {
    background-color: #256AF5;
    box-shadow: 0 7px 0 #1c4ac9;
}

.body > .answer-box > .answer-1 > .option-box {
    background-color: #5286FE;
}

.body > .answer-box > .answer-2 {
    background-color: #00e8e1;
    box-shadow: 0 7px 0 #00c0b9;
}

.body > .answer-box > .answer-2 > .option-box {
    background-color: #0ff6ee;
}

.body > .answer-box > .answer-3 {
    background-color: #fd831e;
    box-shadow: 0 7px 0 #E75A0D;
} 

.body > .answer-box > .answer-3 > .option-box {
    background-color: #FFA65A;
}

.body > .answer-box > .answer-4 {
    background-color: #b571f6;
    box-shadow: 0 7px 0 #9666be;
}

.body > .answer-box > .answer-4 > .option-box {
    background-color: #C48DF8;
}

.body > .answer-box > .answers > .option-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quiz > .quiz-inner-div > .foot {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px;
}

.foot > .timer-box {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #cccccc;
}

.foot > .timer-box:hover {
    background-color: var(--secondary-blue-color);
    color: white;
}

.foot > .timer-box:hover > .timer > .timer-heading{
    color: white;
}

.foot > .timer-box > .timer-diagram > .timer-image > img {
    width: 30px;
}

.foot > .timer-box > .timer > .timer-heading {
    text-align: center;
    font-size: var(--font-xs);
    color: var(--text-gray-color);
    font-weight: 600;
}

.foot > .timer-box > .timer > .timer-text {
    font-size: var(--font-lg);
    font-weight: 700;
}

.foot > .next-btn {
    display: flex;
    visibility: hidden;
    gap: 10px;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #cccccc;
    transition: transform 0.3s ease;
}

.foot > .submit-btn {
    display: none;
    /* visibility: hidden; */
    gap: 10px;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #cccccc;
    transition: transform 0.3s ease;
}

.foot > .next-btn:hover {
    background-color: var(--secondary-blue-color);
    color: #fff;
}

.foot > .submit-btn:hover {
    background-color: var(--secondary-blue-color);
    color: #fff;
}

.foot > .next-btn:active {
    transform: scale(0.95);
}

.foot > .submit-btn:active {
    transform: scale(0.95);
}

.foot > .next-btn > h3 {
    font-size: var(--font-md);
}

.foot > .submit-btn > h3 {
    font-size: var(--font-md);
}

.foot > .next-btn > img {
    width: 30px;
}

.foot > .submit-btn > img {
    width: 30px;
}

/* ----------------------------------------------------result page----------------------------------------------------------- */

#result {
    height: 100vh;
    max-width: 1620px;
    margin: auto;
    display: none;
}

#result > .result-inner-div {
    height: 100vh;
    max-width: inherit;
    margin: auto;
    background-image: url("quest-icon/result-bg.png");
}

#result > .result-inner-div > .result-navbar {
    height: 10vh;
    background-color: #fff;
    padding: 10px 30px;
    box-shadow: 0 5px 5px #a6a6a6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result-navbar > .left-nav-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.result-navbar > .left-nav-box > .back-svg-box > img {
    width: 50px;
}

.left-nav-box > .result-nav-heading > h1 {
    font-size: 25px;
    font-weight: 700;
}

.result-navbar > .right-nav-box > .analysis-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-navbar > .right-nav-box > .analysis-box > button {
    position: relative;
    padding: 15px 50px;
    font-size: var(--font-sm);
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #4b00ff, #7b3cff, #a855f7);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.result-navbar > .right-nav-box > .analysis-box > button::before {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: inherit;
  background: linear-gradient(
    180deg,
    rgba(255,255,255,0.35),
    rgba(255,255,255,0.05)
  );
  pointer-events: none;
}

.result-navbar > .right-nav-box > .analysis-box > button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(123, 60, 255, 0.8)
                0 0 60px rgba(123, 60, 255, 0.6);
}

.result-navbar > .right-nav-box > .analysis-box > button:active {
    transform: scale(1);
}

#result > .result-inner-div > .result-body {
    height: 90vh;
    display: flex;
}

#result > .result-inner-div > .result-body > .result-image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result > .result-inner-div > .result-body > .result-image > img {
    width: 400px;
    box-shadow: 0 0 20px #8d8d8d;
}

#result > .result-inner-div > .result-body > .result-content {
    width: 50%;
    height: 100%;
}

.result-content > .result-marks {
    height: 20%;
    color: #226BEF;
    font-size: 120px;
    font-weight: 900;
    -webkit-text-stroke: 3px #fff;
    text-shadow: 0 0 10px #838282;
    margin: 40px 0;
}

.result-content > .result-context {
    height: 18%;
    line-height: 47px;
}

.result-content > .result-context > h1 {
    font-size: 47px;
    font-weight: 700;
}

.result-content > .result-context > h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-gray-color);
}

.result-content > .result-stats {
    height: 25%;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.result-content > .result-stats > .stats-box {
    height: 100px;
    width: 250px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px #8e8e8e;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-content > .result-stats > .stats-box:hover {
    background-color: var(--text-primary-color);
}

.result-content > .result-stats > .stats-box:hover > h3 {
    color: #ffffff;
}

.result-content > .result-stats > .stats-box:hover > h2 {
    color: #ffffff;
}

.stats-box > h3 {
    font-size: var(--font-sm);
    color: var(--text-gray-color);
    font-weight: 700;
}

.stats-box > h2 {
    font-size: 34px;
    color: black;
    font-weight: 700;
}

.result-content > .result-btn {
    height: 20%;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.result-content > .result-btn > .result-both-btn {
    height: 80px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ffffff;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.result-content > .result-btn > .result-both-btn:active {
    transform: scale(0.95);
}

.result-content > .result-btn > .play-again {
    background-color: #22dd69;
    box-shadow: 0 7px 0 #219D4E,
                0 10px 10px #686868;;
}

.result-content > .result-btn > .home {
    background-color: #FBBF23;
    box-shadow: 0 7px 0 #D97605,
                0 10px 10px #686868;;
}

.result-content > .result-btn > .result-both-btn > h1 {
    font-size: 20px;
}

.result-content > .result-btn > .result-both-btn > img {
    width: 30px;
}

/* --------------------------------------------------analysis-overlay--------------------------------------------------------- */

.analysis-overlay {
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    padding: 25px;
    border-radius: 28px;
    background-image: url(quest-icon/analysis-bg.png);
    box-shadow:
        0 25px 60px rgba(0, 0, 0, 0.342),
        inset 0 0 0 1px rgba(255, 255, 255, 0.45);
}

.analytical-head {
    height: 10%;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.analytical-head > .nothing {
    width: 10%;
    height: 100%;
}

.analytical-head > .analytical-heading {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
}

.analytical-head > .analytical-heading > img {
    width: 55px;
    height: 40px;
}

.analytical-head > .analytical-heading > h1 {
    font-size: 40px;
    color: #240a0a;
}

.analytical-head > .cross-btn {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.analytical-head > .cross-btn > .cross-bg {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(180deg, #6363631b, rgba(255, 255, 255, 0.963));
    box-shadow: 0 0 20px #bababa;
    transition: transform 0.3s ease;
}

.analytical-head > .cross-btn > .cross-bg:active {
    transform: scale(0.92);
}

.analytical-head > .cross-btn > .cross-bg::before {
    content: "";
    position: absolute;
    inset: 2px;
    border-radius: inherit;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.05));
    pointer-events: none;
}

.analytical-head > .cross-btn > .cross-bg > img {
    filter: brightness(1.5);
    width: 20px;
}

.analytical-body {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding-top: 10px;
    border-radius: 28px;
    text-align: center;
    justify-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
}

.analytical-body::-webkit-scrollbar,
.analytical-body::-webkit-scrollbar {
    display: none;
}

.quiz-analysis-box {
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, #ffffff81, #343cc52b);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 4px;
}

.question-anlalysis {
    width: 100%;
    height: 50%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #ffffff81, #343cc52b);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.question-anlalysis > h3 {
    font-size: var(--font-sm);
    font-weight: 600;
}

.answer-analysis {
    width: 100%;
    height: 50%;
    display: flex;
    gap: 4px;
    padding-top: 4px;
}

.correct-answer {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        background: linear-gradient(180deg, #d3dfff81, #0f11294f);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.correct-answer > h4 {
    font-size: var(--font-sm);
    font-weight: 600;
}

.user-answer {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.user-answer > h4 {
    font-size: var(--font-sm);
    font-weight: 600;
}

/* ----------------------------------------------------media query----------------------------------------------------------- */

@media screen and (max-width: 1400px){
    .owl-image {
        width: 650px;
    }

    .result-content > .result-marks {
        font-size: 100px;
        margin: 25px 0;
    }
}

@media screen and (max-width: 1300px){
    .owl-image {
        width: 600px;
    }
}

@media screen and (max-width: 1200px){
    .owl-image {
        width: 550px;
    }

    #result > .result-inner-div > .result-body > .result-image {
        width: 46%;
    }

    #result > .result-inner-div > .result-body > .result-image > img {
        width: 300px;
    }

    .result-content > .result-marks {
        font-size: 72px;
        margin: 20px 0;
    }

    .result-content > .result-context {
        line-height: 42px;
    }

    .result-content > .result-context > h1 {
        font-size: 35px;
    }

    .result-content > .result-context > h3 {
        font-size: var(--font-md);
    }

    .result-content > .result-stats > .stats-box {
        width: 200px;
    }

    .result-content > .result-btn > .result-both-btn {
        width: 200px;
    }

    .result-content > .result-btn > .result-both-btn > h1 {
        font-size: var(--font-sm);
    }

    .result-content > .result-btn > .result-both-btn > img {
        width: var(--font-md);
    }

    .result-content > .result-marks {
        height: 16%;
    }

}

@media screen and (max-width: 1100px){
    .owl-image {
        width: 500px;
    }

    #quiz > .quiz-inner-div > .body {
        flex-direction: column;
        margin-top: 15px;
    }

    .body > .question-box {
        width: 80%;
        height: 50%;
        margin: auto;
    }

    .body > .question-box > .question {
        height: 150px;
        width: 80%;
        border-radius: 25px;
    }

    .body > .question-box > .question > h1 {
        font-size: 25px;
    }

    .body > .answer-box {
        width: 60%;
        margin: auto;
    }

    .body > .answer-box > .answers {
        height: 100px;
        font-size: 10px;
    }

}

@media screen and (max-width: 1060px){
    .owl-image {
        width: 450px;
    }
}

@media screen and (max-width: 970px){
    .owl-image {
        width: 400px;
    }

    .analytical-head > .analytical-heading > h1 {
        font-size: var(--font-xl);
    }

    .analytical-head > .analytical-heading > img {
        width: 50px;
        height: 35px;
    }
}

@media screen and (max-width: 870px){
    .owl-image {
        width: 350px;
    }

    .owl-img {
        width: 500px;
    }

    .select-quiz-main-heading > p {
        font-size: 45px;
    }

    .select-content-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    }

    .select-content {
        width: 250px;
        height: 190px;
    }

    #quiz > .quiz-inner-div > .head {
        margin-top: 5px;
    }

    #quiz > .quiz-inner-div > .head > .progress-bar {
        width: 300px;   
    }

    .progress-bar > .progress-bar-head-box > .progress-bar-heading-box > .progress-bar-heading {
        font-size: 18px;
        font-weight: 700;
    }

    .progress-bar > .progress-bar-loader-box {
        height: var(--font-xs);
        margin: 8px auto;
    }

    .progress-bar > .progress-bar-head-box > .level {
        font-size: 14px;
        font-weight: 600;
    }

    #quiz > .quiz-inner-div > .head > .points-box {
        width: 100px;
        height: 40px;
    }

    .head > .points-box > .points-number {
        font-size: var(--font-md);
    }

    .head > .points-box > img {
        width: 20px;
    }

    .body > .answer-box {
        width: 75%;
    }

    .body > .answer-box > .answers {
        height: 80px;
        width: 230px;
    }

    .analytical-head > .analytical-heading > h1 {
        font-size: var(--font-lg);
    }
}

@media screen and (max-width: 790px){
    .container {
        flex-direction: column;
        height: 77vh;
        padding: 0;
    }

    .owl-img {
        width: 400px;
    }

    .play-container {
        height: 200px;
    }

    .features {
        justify-content: center;
    }

    .nav > .nav-content {
        gap: 20px;
    }

    .nav > .nav-logo > .nav-text {
        font-size: var(--font-md);
    }

    .nav > .nav-logo > .nav-svg > img {
        width: 45px;
    }

    .nav > .nav-content > .nav-content-all {
        gap: 5px;
    }

    .body > .answer-box > .answers {
        height: 80px;
        width: 220px;
        font-size: 9px;
    }

    .left-nav-box > .result-nav-heading > h1 {
        font-size: var(--font-md);
    }

    .result-navbar > .right-nav-box > .analysis-box > button {
        padding: 8px 25px;
        font-size: var(--font-xs);
    }

    #result > .result-inner-div > .result-body {
        flex-direction: column;
    }

    #result > .result-inner-div > .result-body > .result-image > img {
        width: 250px;
    }

    #result > .result-inner-div > .result-body > .result-image {
        width: 100%;
        padding: 25px 0;
        height: 50%;
    }

    #result > .result-inner-div > .result-body > .result-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .result-content > .result-marks {
        font-size: 50px;
        font-weight: 900;
        -webkit-text-stroke: 1px #fff;
        margin: 0;
        height: 22%;
    }

    .result-content > .result-context {
        line-height: 25px;
        text-align: center;
        height: 22%;
    }

    .result-content > .result-context > h1 {
        font-size: 25px;
    }

    .result-content > .result-context > h3 {
        font-size: var(--font-sm);
    }

    .result-content > .result-stats {
        height: 28%;
    }

    .result-content > .result-stats > .stats-box {
        align-items: center;
        height: 65px; 
        width: 170px;
        padding: 0;
        border-radius: 15px;
    }

    .stats-box > h2 {
        font-size: var(--font-md);
    }

    .stats-box > h3 {
        font-size: var(--font-xs);
        font-weight: 600;
    }

    .result-content > .result-btn > .result-both-btn {
        width: 160px;
        height: 60px;
    }
}

@media screen and (max-width: 600px) {
    .nav > .nav-logo {
        display: none;
    }

    .nav > .nav-content {
        justify-content: space-evenly;
        width: 100%;
    }

    #quiz > .quiz-inner-div > .head {
        height: 25vh;
        padding-top: 10px;
        position: relative;
        align-items: flex-start;
    }

    #quiz > .quiz-inner-div > .head > .progress-bar {
        width: 90%;
        position: absolute;
        bottom: 0;
    }

    .body > .question-box {
        width: 100%;
    }

    .body > .answer-box {
        width: 60%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 15px;
        margin-top: 20px;
    }

    .body > .answer-box > .answers {
        height: 50px;
        width: 100%;
        font-size: 10px;
    }

    .body > .answer-box > .answers > .option-box {
        width: 30px;
        height: 30px;
    }

    .body > .answer-box > .answers > .option-box > h1 {
        font-weight: 600;
    }

    .body > .answer-box > .answers > .answer-text > h1 {
        font-weight: 600;
    }

    .foot > .timer-box > .timer-diagram {
        display: none;
    }

    .foot > .timer-box > .timer > .timer-heading {
        font-weight: 500;
    }

    .foot > .timer-box > .timer > .timer-text {
        font-size: var(--font-md);
    }

    .foot > .next-btn, .submit-btn {
        padding: 15px 15px;
        border-radius: 25px;
    }

    .foot > .next-btn > h3 {
        display: none;
    }

    .foot > .submit-btn > h3 {
        display: none;
    }

    .analytical-head > .analytical-heading > h1 {
        font-size: var(--font-xmd);
    }

    .analytical-head > .analytical-heading > img {
        width: 35px;
        height: 25px;
    }

    .analytical-head > .cross-btn > .cross-bg {
        width: 35px;
        height: 35px;
    }

    .analytical-head > .cross-btn > .cross-bg > img {
        width: 14px;
    }

}

@media screen and (max-width: 500px) {
    .container {
        height: 77vh;
    }
    .heading-word {
        font-size: 48px;
    }

    .play-sub-heading {
        font-size: 16px;
        margin-bottom: 60px;
    }

    .play-container {
        width: 100vw;
    }

    .play-button {
        padding: 10px 40px;
    }

    .nav > .nav-content > .nav-content-all {
        flex-direction: column;
        align-items: center;
        gap: 0;
    } 

    .nav > .nav-content > .nav-content-all::after {
        display: none;
    }

    .select-quiz-main-heading > p {
        font-size: 35px;
    }

    /* .select-content {
        width: 280px;
    } */

    .select-content-container {
        padding: 0;
    }

    #quiz > .quiz-inner-div > .head {
        height: 135px;
    }
    
    #quiz > .quiz-inner-div > .head > .cancel {
        width: 35px;
        height: 35px;
        border-radius: 14px;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #quiz > .quiz-inner-div > .head > .progress-bar {
        width: 88%;
        height: 80px;
    }

    .progress-bar > .progress-bar-head-box > .progress-bar-heading-box > img {
        width: 20px;
    }

    .progress-bar > .progress-bar-head-box > .progress-bar-heading-box > .progress-bar-heading {
        font-size: var(--font-sm);
        font-weight: 600;
    }

    .progress-bar > .progress-bar-head-box > .level {
        font-size: var(--font-xs);
    }

    .progress-bar > .progress-bar-loader-box {
        height: 10px;
        margin: 1px auto 6px;
    }

    .mode {
        font-size: var(--font-xs);
    }

    #quiz > .quiz-inner-div > .head > .points-box {
        width: 85px;
        height: 35px;
    }

    .head > .points-box > img {
        width: 15px;
    }

    .head > .points-box > .points-number {
        font-size: 18px;
    }

    .result-content > .result-marks {
        -webkit-text-stroke: 1px #fff;
    }

    .result-content > .result-stats {
        gap: 10px;
    }

    .result-content > .result-btn {
        gap: 10px;
    }

    .analysis-overlay {
        padding: 15px;
    }

    .analytical-body {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .question-anlalysis > h3 {
        font-size: var(--font-xs);
    }

    .correct-answer > h4 {
        font-size: var(--font-xs);
    }

    .user-answer > h4 {
        font-size: var(--font-xs);
    }

    .analytical-head > .analytical-heading > h1 {
        font-size: var(--font-md);
    }

    .analytical-head > .analytical-heading > img {
        width: 30px;
    }

    .analytical-head > .cross-btn > .cross-bg {
        width: 30px;
        height: 30px;
    }

}

@media screen and (max-width: 400px) {
    .owl-img {
        width: 300px;
    }

    .owl-image {
        width: 300px;
        margin-top: 30px;
    }

    .play-container {
        margin-top: 30px;
    }

    .select-content-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(190px, 1fr));
    }

    .select-content {
        width: 250px;
        height: 180px;
    }

    .select-quiz-main-heading > p {
        font-size: 30px;
    }

    .select-quiz-main-heading {
        gap: 8px;
    }
    
    .select-quiz-sub-heading {
        font-size: var(--font-xs);
    }

    #quiz > .quiz-inner-div > .head > .progress-bar {
        width: 85%;
    }

    .body > .question-box > .question > h1 {
        font-size: 20px;
    }

    #quiz > .quiz-inner-div > .foot {
        padding: 20px;
    }

    .foot > .timer-box > .timer > .timer-heading {
        font-size: 10px;
    }

    .left-nav-box > .result-nav-heading > h1 {
        font-size: 18px;
    }

    .result-navbar > .left-nav-box {
        gap: 5px;
    }

    .result-navbar > .left-nav-box > .back-svg-box > img {
        width: 40px;
    }

    #result > .result-inner-div > .result-body > .result-image > img {
        width: 200px;
    }

    .result-content > .result-marks {
        font-size: 42px;
        height: 19%;
    }

    #result > .result-inner-div > .result-navbar {
        padding: 10px 10px;
    }

    .result-content > .result-context > h1 {
        font-size: 23px;
    }

    .result-content > .result-context > h3 {
        font-size: var(--font-xs);
    }

    .result-content > .result-stats {
        height: 18%;
    }

    .result-content > .result-stats > .stats-box {
        height: 60px;
        width: 140px;
        border-radius: 10px;
    }

    .result-content > .result-btn {
        flex-direction: column;
        width: 80%;
        margin: auto;
        gap: 15px;
        height: 25%;
    }

    .result-content > .result-btn > .result-both-btn {
        width: 100%;
        height: 60px;
    }

    .analytical-body {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .analytical-head > .analytical-heading > h1 {
        font-size: var(--font-sm);
    }

    .analytical-head > .analytical-heading > img {
        width: 24px;
        height: 20px;
    }

    .analytical-head > .cross-btn {
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .analytical-head > .cross-btn > .cross-bg {
        width: 25px;
        height: 25px;
    }

    .analytical-head > .cross-btn > .cross-bg > img {
        width: 10px;
    }

}

@media screen and (max-width: 300px) {
    .owl-img {
        width: 250px;
    }

    .owl-image {
        width: 250px;
    }

    #quiz > .quiz-inner-div > .head > .progress-bar {
        width: 80%;
    }

    .result-navbar > .right-nav-box > .analysis-box > button {
        padding: 10px 10px;
    }

    .result-content > .result-stats > .stats-box {
        width: 130px;
    }

    .analytical-head > .nothing {
        width: 5%;
    }

}